/* - Very Dark Grayish Blue: hsl(217, 19%, 35%)
- Desaturated Dark Blue: hsl(214, 17%, 51%)
- Grayish Blue: hsl(212, 23%, 69%)
- Light Grayish Blue: hsl(210, 46%, 95%)d */


:root {
    --primary-800: hsl(217, 19%, 35%);
    --primary-500: hsl(214, 17%, 51%);
    --primary-300: hsl(212, 23%, 69%);
    --primary-100: hsl(210, 46%, 95%);
}

* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body {
    color: var(--primary-800);
    background-color: var(--primary-300);
    font-family: Manrope, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    padding: 8;
}

img {
   width: 100%;

}

.large-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 1rem 0 0 1rem;
    
}

.card {
    display: flex;
    flex-direction: row;
    height: 300px;
    max-width: 730px;
    background-color: var(--primary-100);
    border-radius: 1rem;

}

.info-container {
    height: auto;
}

.info-paragraph {
    margin: 2rem;
}

.info-subtext {
    font-size: small;
    padding-top: 0.5rem;
}

.person-info-container {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.info {
    display: flex;
}

.av-img {
    border-radius: 100%;
    width: 50px;
}

.avatar-info {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.img-name-date {
    display: flex;
    font-size: small;
}

.hidden {
    display: none !important;
}

.share-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-left: 1rem;
    padding-right: 2rem;
    border-radius: 2rem;
    letter-spacing: 0.5rem;
    color: var(--primary-300);
    background-color: var(--primary-800);
}

.share-container {
    background-color: var(--primary-800);
    height: 75px;
    border-radius: 0 0 1rem 0;
}

.btn {
    display: flex;
    background-color: var(--primary-500);
    border-radius: 100%;
    padding: 10px;
    height: 40px;
    width: 40px;
}



footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

@media screen and (max-width: 800px) {
    body {
        color: var(--primary-800);
        background-color: var(--primary-300);
        font-family: Manrope, sans-serif;
        
        padding: 8;
    }

    .card {
        display: flex;
        flex-direction: column;
        margin: 2rem;
        height: 720px;
        background-color: var(--primary-100);
        border-radius: 1rem;
    }

    .share-link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        padding-left: 1rem;
        padding-right: 2rem;
        border-radius: 2rem;
        letter-spacing: 0.5rem;
        color: var(--primary-300);
        background-color: var(--primary-800);
    }
    
    .share-container {
        background-color: var(--primary-800);
        height: 83px;
        border-radius: 0 0 1rem 1rem;
    }

    .large-image {
        border-radius: 1rem 1rem 0 0;
    }
}




